$comment-width: 98%;
$corner-radius: 10px;
$padding-size: 10px;
$comment-border: solid 2px #dddddd;

.comment-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .comment-body {
    width: $comment-width;
    border-radius: $corner-radius;
    background-color: var(--light);

    .comment-content {
      border-radius: $corner-radius $corner-radius 0 0;
      border: $comment-border;

      .comment-content-header {
        display: flex;
        padding: 0;

        .comment-content-header-item {
          padding: $padding-size;
          border-right: $comment-border;
          border-bottom: $comment-border;
        }

        .comment-content-header-date {
          border-radius: 0 0 $corner-radius 0;
        }
      }

      .comment-content-button {
        min-width: 60px;
        border-radius: 0 $corner-radius - 2 0 $corner-radius;
        border-top: none;
        border-right: none;
        border-left-color: #dddddd;
        border-bottom-color: #dddddd;
      }

      .comment-content-body {
        padding: $padding-size;
      }
    }

    .comment-replies {
      display: flex;
      flex-direction: column;
      padding: $padding-size;

      .comment-reply {
        margin-top: 5px;
        padding: $padding-size / 2;
        border: $comment-border;
        border-radius: $corner-radius;
      }
    }
  }

  .comment-children {
    width: 100%;
    margin-left: 100% - $comment-width;
    margin-top: 10px;
  }
}
